*.AppImage filter=lfs diff=lfs merge=lfs -text
modules/fmodstudio/application/fmodstudio.AppImage filter=lfs diff=lfs merge=lfs -text
modules/fmodstudio/application/*.AppImage filter=lfs diff=lfs merge=lfs -text
